body {
  font-family: sans-serif;
}

a,
a:visited {
  color: black;
}

.headerContainer,
.pageContainer {
  margin: 0 auto;
  max-width: 540px;
  padding: 0 1rem 1.5rem;
}

.headerContainer {
  padding-top: 1rem;
  padding-bottom: 0;
}

.headerTitle {
  font-family: 'Inter UI', sans-serif;
  font-size: 13px;
}

.heroIntro {
  font-family: 'Inter UI', sans-serif;
  font-weight: 400;
  font-size: 25px;
}

.heroTitle {
  font-family: 'Inter UI', sans-serif;
  font-weight: 400;
  font-size: 35px;
}

.footer {
  font-family: 'Inter UI', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000;
}
