body {
  font-family: 'Inter UI', sans-serif;
  font-size: 62.5%;
  line-height: 1.3;
  color: rgb(80, 80, 80);
  background-color: rgb(233, 233, 233);
}

a,
a:visited {
  color: rgb(20, 20, 20);
}

div, span {
  box-sizing: border-box;
  position: relative;
  border: 0 solid black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-shrink: 0;
}

body > * {
  position: absolute;
}

h1 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

p, ul {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
